body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    flex-direction: column;
    color: black;
    height: 100vh;
    background-color: white;
}

    .header {
        display: flex;
        background-color: #fff;
        position: fixed;
        top: 0;
        justify-content: space-between;
        width: 95%;
        padding: 0px 32px;
    }

        img.pic1 {
            display: flex;
            width: 80px;
        }

        ul {
            display: flex;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            margin-left: auto;
            gap: 20px;
            align-items: center;
        }

        li a {
            color: black;
            text-decoration: none;
            font-size: 20px;
        }

        a:hover {
            font-size: 28px;
            font-weight: 700;
        }

    .section1body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        gap: 128px;
        padding: 0px 256px;
        font-size: 18px;
        margin-top: 115.97px;
        flex: 1;
    }

        img.pic2 {
            display: flex;
            min-width: 500px;
        }

        .section1bodytext {
            display: flex;
            flex-direction: column;
            min-width: 500px;
            justify-content: center;
            gap: 32px;
            flex-wrap: wrap;
        }

            .section1bodytextheader {
                display: flex;
                font-size: 72px;
                font-weight: bolder;
                margin-bottom: 128px;
            }

            .button1 {
                display: flex;
                width: 150px;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                padding: 8px;
                font-size: 18px;
                font-weight: 550;
                margin-top: 32px;
                background-color: #0f172a;
                color: white;
            }


 .section2header {
    display: flex;
    justify-content: center;
    background-color: #94a3b8;
}

.section2headertext {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 128px 200px;
}

    .section2body {
        display: flex;
        padding: 32px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 64px;
    }

    img.picerfahrung {
        display: flex;
        width: 500px;
        height: auto;
    }

    .section2textright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 32px;
    }

    .section2textleft {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 32px;
    }

    .erfahrung1 {
        display: flex;
        margin-right: auto;
    }

    .erfahrung2 {
        display: flex;
        margin-left: auto;
        flex-direction: row-reverse;
    }

    .erfahrung3 {
        display: flex;
        margin-right: auto;
    }

    .erfahrung4 {
        display: flex;
        margin-left: auto;
        flex-direction: row-reverse;
    }

.section3 {
    display: flex;
    flex-direction: column;
    padding: 128px;
    flex-shrink: 0;
    margin: 128px 0px;
    background-color: #94a3b8;
}

    .section3text1 {
        font-size: 25px;
        font-style: light italic;
        margin-bottom: 16px;
    }

    .section3text2 {
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
    }

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

    .section4box {
        background-color: #0f172a;
        color: white;
        padding: 56px 80px;
        display: flex;
        width: 750px;
        flex: 1 1 auto;
        gap: 32px;
        align-items: center;
        border-radius: 10px;
    }

            .section4containerheader {
                font-size: 25px;
                font-weight: 700;
            }

            .section4containertext {
                font-size: 20px;
            }

        .button2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            color: #0f172a;
            background-color: white;
            border: 1px solid white;
            border-radius: 5px;
            width: 200px;
            height: 50px;
            font-size: 18px;
            font-weight: 700;
        }

.footer {
    display: flex;
    background-color: #0f172a;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0px 36px;
}

    .footerimg {
        display: flex;
        width: 80px;
        height: 80px;
    }

    .footerinstagram {
        width: 40px;
        height: 40px;
    }











/* ÜBER MICH PAGE */
.übermichbody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.überbody {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    flex-grow: 1;
}

.übertitel {
    display: flex;
    font-size: 48px;
    padding: 10px 36px;
    margin-top: 24px;
}

.überconbody {
    display: flex;
    padding: 64px 256px;
    gap: 64px;
}

img.überconbodyimg {
    display: flex;
    width: 250px;
}





/* MEIN ZIEL PAGE */

.meinzielbody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.meinbody {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    flex-grow: 1;
}





/* KONTAKT PAGE */

.kontaktbody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.kontbody {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    flex-grow: 1;
}