body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    background-color: #c8d8e4;
}

    .header {
        display: flex;
        background-color: #fff;
        padding: 8px 32px;
    }

    img.pic1 {
        display: flex;
        width: 100px;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        margin-left: auto;
        gap: 20px;
        align-items: center;
    }

    li a {
        color: black;
        text-decoration: none;
        font-size: 18px;
    }

    .section1body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 130px;
        padding: 32px;
        font-size: 18px;
    }

    img.pic2 {
        display: flex;
        width: 500px;
    }

    .section1bodytext {
        display: flex;
        flex-direction: column;
        width: 500px;
        justify-content: center;
        gap: 32px;
    }

    .section1bodytextheader {
        display: flex;
        font-size: 48px;
        font-weight: bolder;
    }

    .button1 {
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
        font-size: 18px;
        font-weight: 550;
        margin-top: 32px;
    }

.section2 {
    display: flex;
    flex-direction: column;
}

    .section2header {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: bolder;
        padding: 16PX;
    }

    .section2body {
        display: flex;
        padding: 32px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 64px;
    }

    img.picerfahrung {
        display: flex;
        width: 500px;
        height: auto;
    }

    .section2textright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 32px;
    }

    .section2textleft {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 32px;
    }

    .erfahrung1 {
        display: flex;
        margin-right: auto;
    }

    .erfahrung2 {
        display: flex;
        margin-left: auto;
        flex-direction: row-reverse;
    }

    .erfahrung3 {
        display: flex;
        margin-right: auto;
    }

    .erfahrung4 {
        display: flex;
        margin-left: auto;
        flex-direction: row-reverse;
    }

.section3 {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 128px;
    flex-shrink: 0;
}

    .section3text1 {
        font-size: 25px;
        font-style: light italic;
        margin-bottom: 16px;
    }

    .section3text2 {
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
    }

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

    .section4box {
        background-color: #3882f6;
        color: white;
        padding: 56px 80px;
        display: flex;
        width: 750px;
        flex: 1 1 auto;
        gap: 32px;
        align-items: center;
        border-radius: 10px;
    }

            .section4containerheader {
                font-size: 25px;
                font-weight: 700;
            }

            .section4containertext {
                font-size: 20px;
            }

        .button2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            color: white;
            background-color: #3882f6;
            border: 1px solid white;
            border-radius: 5px;
            width: 200px;
            height: 50px;
            font-size: 18px;
            font-weight: 700;
        }

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 36px 72px;
}

    .footerinstagram {
        text-decoration: none;
        color: white;
    }