body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;

    transform: scale(1.05);
}

.section1 {
    display: flex;
    flex-direction: column;
    color: black;
    min-height: 100vh;
    flex: 1;
    background-color: white;
}

    .header {
        display: flex;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        justify-content: space-between;
        padding: 0px 32px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

        img.pic1 {
            display: flex;
            width: 80px;
        }

        ul {
            display: flex;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            margin-left: auto;
            gap: 20px;
            align-items: center;
        }

        li a {
            color: black;
            text-decoration: none;
            font-size: 20px;
            color: #333;
        }

        a:hover {
            color: black;
        }

    .section1body {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 100px;
        font-size: 18px;
        margin-top: 80px;
        padding: 60px 116px;
        flex-direction: row-reverse;
    }


        img.pic2 {
            width: 500px;
            max-width: 748px;
            height: auto;
            flex: 1 1 auto;
        }

        .section1bodytext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            width: 450px;
            max-width: 748px;
            height: auto;
            flex: 1;
        }

            .section1bodytextheader {
                display: flex;
                font-size: 72px;
                font-weight: bolder;
            }

            .button1 {
                display: flex;
                width: 180px;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
                margin-left: auto;
                margin-right: auto;
                padding: 16px;
                font-size: 18px;
                font-weight: 550;
                background-color: #0f172a;
                color: white;
                border-radius: 10px;
            }


 .section2header {
    display: flex;
    justify-content: center;
    background-color: #0f172a;
    height: 100px;
}

.section2headertext {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 128px 128px;
}

    .section2body {
        display: flex;
        padding: 32px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 64px;
    }

    img.picerfahrung {
        display: flex;
        width: 500px;
        height: auto;
        border-radius: 8px;
    }

    .section2textright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 32px;
    }

    .section2textleft {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 32px;
    }

    .erfahrung1 {
        display: flex;
        margin-right: auto;
    }

    .erfahrung2 {
        display: flex;
        margin-left: auto;
        flex-direction: row-reverse;
    }

    .erfahrung3 {
        display: flex;
        margin-right: auto;
    }

    .erfahrung4 {
        display: flex;
        margin-left: auto;
        flex-direction: row-reverse;
    }

.section3 {
    display: flex;
    flex-direction: column;
    padding: 100px 128px;
    flex-shrink: 0;
    background-color: #0f172a;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

    .section3text1 {
        font-size: 25px;
        font-style: light italic;
    }

    .section3text2 {
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
    }

    .section4 {
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 128px;
        gap: 80px;
        padding-bottom: 80px;
    }

        .sec4pic {
            display: flex;
            width: 900px;
        }

        .section4box {
            background-color: #0f172a;
            color: white;
            padding: 40px 80px;
            display: flex;
            flex: 1 1 auto;
            max-width: auto;
            gap: 64px;
            align-items: center;
            justify-content: center;
            border-radius: 10px; 
            border: 2px solid #0f172a;
        } 

            .section4container {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

                .section4containerheader {
                    font-size: 25px;
                    font-weight: 700;
                }

                .section4containertext {
                    font-size: 20px;
                }

        .button2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            color: #0f172a;
            background-color: white;
            border: 2px solid #0f172a;
            border-radius: 10px;
            width: 200px;
            height: 50px;
            font-size: 18px;
            font-weight: 700;
        }










.footer {
    display: flex;
    background-color: #0f172a;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0px 36px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
}

    .footertext1 {
        display: flex;
    }

    .footerimg {
        display: flex;
        width: 80px;
        height: 80px;
    }

    .footerinstagram {
        width: 40px;
        height: 40px;
    }



/* ÜBER MICH PAGE */
.übermichbody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.überbody {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    flex-grow: 1;
}

.übertitel {
    display: flex;
    font-size: 48px;
    padding: 10px 36px;
    margin-top: 24px;
}

.überconbody {
    display: flex;
    padding: 64px 256px;
    gap: 64px;
}

img.überconbodyimg {
    display: flex;
    width: 250px;
}





/* MEIN ZIEL PAGE */

.meinzielbody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.meinbody {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    flex-grow: 1;
}





/* KONTAKT PAGE */

.kontaktbody {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.kontbody {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    flex-grow: 1;
}